<%- include('partials/header') -%>
    <h1>Home</h1>
    <% listings.forEach( (listing) => { %>
        
        <p><a href="/map/<%=listing.addressLine1 %>"><%=listing.addressLine1 %></a></p>
        <p><%=listing.addressLine2 %></p>
        <p><%=listing.city %></p>
        <p><%=listing.province %></p>
        <p><%=listing.zipcode %></p>
        <p><%=listing.phone %></p>
        <p><%=listing.hourlyRate %></p>
        <p><%=listing.monthlyRate %></p>
        <% listing.images.forEach( (image) => { %>
            <img class="listing-images" src="data:image/<%=image.contentType%>;base64,
                <%=image.data.toString('base64')%>" alt="image for user">
        <%})    %>
    <%})    %>
<%- include('partials/footer') -%>