<%- include('partials/header') -%>
    <h1>Home</h1>
    <% listings.forEach( (listing) => { %>
        
        <h2><%=listing.addressLine1 %></h2>
        <h2><%=listing.addressLine2 %></h2>
        <h2><%=listing.city %></h2>
        <h2><%=listing.province %></h2>
        <h2><%=listing.zipcode %></h2>
        <h2><%=listing.phone %></h2>
        <h2><%=listing.hourlyRate %></h2>
        <h2><%=listing.monthlyRate %></h2>
        <% listing.images.forEach( (image) => { %>
            <img class="listing-images" src="data:image/<%=image.contentType%>;base64,
                <%=image.data.toString('base64')%>" alt="image for user">
        <%})    %>
    <%})    %>
<%- include('partials/footer') -%>